# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environnements virtuels
.venv/
venv/
env/
.env

# IDEs
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Divers
*.zip
*.log
